.p-home-m-c {
    width: 80dvw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 70px);
    overflow-y: auto;
}

.p-home-m-c h6 {
    font-family: "Merienda", cursive;
    font-size: clamp(18px, 4vw, 25px);
    font-weight: 400;
    line-height: 1.1;
}

.p-home-m-c h2 {
    font-family: "Playfair Display", serif;
    font-size: clamp(35px, 5vw, 90px);
    line-height: 1.1;
    font-weight: 700;
    white-space: nowrap;
    color: #b9436c;
}

.p-home-m-c h4 {
    margin: 7px 0;
    font-weight: 500;
    font-size: clamp(17px, 4vw, 20px);
}

.p-home-m-c p {
    font-size: clamp(15px, 4vw, 18px);
    font-weight: 400;
    line-height: 1.2;
}

.p-home-btn-c {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.p-home-m-c button {
    padding: 10px 20px;
    border-radius: 20px;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
}

.p-home-m-c a:nth-child(2):active button {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.p-home-m-c a:nth-child(1):active button {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.p-home-m-c a:nth-child(1) button {
    border: 0.3px solid #fff;
    color: #fff;
    background-color: transparent;
    box-shadow: 2px 2px 0px #fff;
    backdrop-filter: blur(10px);
}

.p-home-m-c a:nth-child(1) button {
    color: white;
    text-decoration: none;
}

.p-home-m-c a:nth-child(2) button {
    color: #b9436c;
    text-decoration: none;
}

.p-home-m-c a:nth-child(2) button {
    border: 0.3px solid #b9436c;
    color: #b9436c;
    background-color: transparent;
    box-shadow: 2px 2px 0px #b9436c;
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
    .p-home-m-c {
        width: 100dvw;
        flex-direction: column;
        padding: 20px;
    }
}